<div class="container-fluid w-100">
  <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="error">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> {{error}}
  </div>

  <div class="alert alert-success alert-dismissible" role="alert" *ngIf="success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> {{success}}
  </div>
<!--   <div id="userList">
    <h2>...</h2>
    <ul>
      <li *ngFor="let item of users">{{item.first_name}} | {{item.last_name}}</li>
    </ul>
  </div> -->

  <div id="userList">
    <h2 class="h2 title">User List</h2>
    <div class="list-group">
      <!-- <pre>{{ dump(users) }}</pre> -->
      <div class="list-group-item row" *ngFor="let user of users;let i = index;">
        <div class="col-md-4">
          <input 
            type="text" 
            [(ngModel)]="users[i].first_name" 
            class="form-control" 
            pattern="^[a-zA-Z]+$" 
            #firstname="ngModel" 
            [ngClass]="{ 'is-invalid' : firstname.touched && firstname.invalid }" />
        </div>
        <div class="col-md-4">
          <input 
            type="text" 
            [(ngModel)]="users[i].last_name" 
            class="form-control" 
            pattern="^[a-zA-Z]+$" 
            #lastname="ngModel" 
            [ngClass]="{ 'is-invalid' : lastname.touched && lastname.invalid }" />
        </div>
        <div class="col-md-4">
          <input 
            type="text" 
            [(ngModel)]="users[i].email" 
            class="form-control" 
            #email="ngModel" 
            [ngClass]="{ 'is-invalid' : email.touched && email.invalid }" />
        </div>
        <div class="col-md-4">
          <input 
            type="text" 
            [(ngModel)]="users[i].phone" 
            class="form-control" 
            #phone="ngModel" 
            [ngClass]="{ 'is-invalid' : phone.touched && phone.invalid }" />
        </div>
        <div class="col-md-4">
          <input 
            type="button"
            value="Update"
            class="btn btn-success btn-sm"
            [disabled]="firstname.invalid || lastname.invalid || email.invalid || phone.invalid"
            (click)="updateUser(first_name,last_name,email,phone,item.id)" />

          <input 
            type="button"
            value="Delete"
            class="btn btn-danger btn-sm"
            (click)="deleteUser(item.id)" />  
        </div>
      </div>
    </div>
  </div>

  <div id="userFrm">
    <form #f="ngForm" name="theForm" (submit)="addUser(f)">
      <div class="form-group">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" class="form-control" [(ngModel)]="user.first_name" #userFirstname="ngModel" pattern="^[a-zA-Z]+$" />
      </div>
      <div class="form-group">
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" class="form-control" [(ngModel)]="user.last_name" #userLastname="ngModel" pattern="^[a-zA-Z]+$" />
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" name="email" class="form-control" [(ngModel)]="user.email" #userEmail="ngModel" />
      </div>
      <div class="form-group">
        <label for="phone">Phone number:</label>
        <input type="tel" name="phone" class="form-control" [(ngModel)]="user.phone" #userPhone="ngModel" />
      </div>
      <button class="btn btn-primary btn-sm" [disabled]="f.invalid">Create new user</button>
    </form>
  </div>
</div>