<div class="container-fluid w-100">
  <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="error">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> {{error}}
  </div>

  <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> {{success}}
  </div>
  <div id="userList">
    <h2>...</h2>
    <ul>
      <li *ngFor="let item of users">{{item.first_name}} | {{item.last_name}}</li>
    </ul>
  </div>
</div>